
.region-card{ 
    margin: 20px;
    border-radius: 8px; 
    padding: 8px; 
    background-color: rgb(176, 176, 176); 
    width: 200px; 
    -webkit-box-shadow: 5px 5px 9px 0px #3A3A3A; 
    box-shadow: 5px 5px 9px 0px #3A3A3A;
} 

.buttons{ 
    display: flex;
    margin: 20px;    
} 

.button{ 
    margin: 0px 4px;
} 

.flag{ 
    border-radius: 12%;
    width: 30px; 
    height: 20px; 
    margin-left: 8px;
} 

.region-name{ 
    font-size: larger; 
    font-weight: bold;
} 

.region-header{ 
    display: flex; 
    margin-bottom: 8px; 
    justify-content: space-between;
} 

.regions-container{ 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
}